* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.page {
    display: grid;
    grid-template-areas: 
    "answer-display answer-display"
    "grey-operands operations";
    grid-template-columns: 3fr 1fr;
}

.answer-display {
    grid-area: answer-display;
}

.grey-operands {
    grid-area: grey-operands;
}

.operations {
    grid-area: operations;
}

button:hover {
    color: white;
}

